<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__inner">
                <div class="about-magazine">
                    <h2 class=" footer-title about-magazine__title">О магазине</h2>
                    <p class="footer__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh. Egestas amet consectetur vel vitae aliquam dictum suspendisse. Lobortis eget consequat, tellus et et sed turpis. Pretium quisque vitae, amet, porttitor odio ultricies massa pharetra leo. Et ipsum urna fames in sit mi ultrices nisi, nunc.</p>
                </div>
                <div class="categories">
                    <h2 class="footer-title">Категории</h2>
                    <div class="categories__items">
                        <a  class="category-item" href="" class="category__text">Часы</a>
                        <a  class="category-item" href="" class="category__text">Браслеты</a>
                        <a  class="category-item" href="" class="category__text">Ремни</a>
                        <a  class="category-item" href="" class="category__text">Ювелирные изделия</a>
                        <a  class="category-item" href="" class="category__text">запонки</a>
                    </div>
                </div>
                <div class="mailing-list">
                    <h2 class="footer-title">РАссылка</h2>
                    <p class="footer__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh.</p>
                    <div class="follow-section">
                        <input class="email-input" type="email" name="email" id="email" placeholder="Ваша почта">
                        <button class="btn follow--btn"type="submit">подписаться</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <span>© <span id="date"> 2020 </span> Все права защищены</span>
    </div>
</footer>
