<header>
    <div class="container">
<div class="header-top">
    <div class="header__info">
        <img  class = "header-phone__icon" src="assets/images/header_phone_icon.svg" alt="phone-icon">
        <a class="header-text phone-number" href=""> 8 (812) 123-45-67</a>
        <p class="header-text workDays__text">Работаем 7 дней в неделю </p>
        <p class="header-text workTime__text">9:00 — 18:00</p>
    </div>
    <div class="header__sign-in-out">
        <img  class= "sign-in__icon" src="assets/images/sign_in_icon.svg" alt="">
        <a href="" class="header-text log-in">Вход</a>
        <span class="header-text">/</span>
        <a href="" class="header-text sign-in">Регестрация</a>
    </div>
</div>
</div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__inner">
        <div class="header__logo">
            <img class="logo" src="assets/images/header_logo.svg" alt="">
        </div>
        <nav class="header_nav">
            <ul class="nav">
                <li class="nav__link">понравилось</li>
                <li class="nav__link">личный кабинет</li>
                <li class="nav__link">настройки</li>
                <li class="nav__link icon-link">
                    <img class="nav__icon"src="assets/images/shop_icon.svg" alt="">
                </li>
                <li class="nav__link icon-link">
                    <img class="nav__icon " src="assets/images/search_icon.svg" alt="">
                </li>
            </ul>
        </nav>
            </div>
        </div>
        <!-- ./container -->
    </div>
    <div class="hero">
        <img  class="hero-img" src="assets/images/hero-bg.jpg" alt="">
        <div class="container">
            <div class="hero__inner">
                <div class="hero__text">
                    <div class="hero-title">PORTEN</div>
                    <div class="hero-subtitle">санкт-петербург</div>
                </div>
                <div class="hero-paragraph">
                    <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus interdum purus, est tortor pulvinar ut in. Fringilla a diam enim sed justo, sed iaculis sagittis. Tortor id eu interdum nec ut iaculis. Penatibus ullamcorper ultricies morbi ipsum sem metus pharetra, mi. Tortor nibh magna feugiat id nunc, dui nisl viverra.</p>
                </div>
            </div>
        </div>
    </div>
</header>
